<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.magicdraw.remote.MagicDrawModel"
            dialog="org.eclipse.epsilon.emc.magicdraw.remote.dt.MagicDrawModelConfigurationDialog"
            icon="images/magicdraw.png"
            label="MagicDraw Instance"
            stable="true"
            type="MagicDrawRemote">
      </modelType>
   </extension>

</plugin>
